html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #444444;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#555555), to(#111111));
  background-image: -webkit-linear-gradient(top, #555555, 0%, #111111, 100%);
  background-image: -moz-linear-gradient(top, #555555 0%, #111111 100%);
  background-image: linear-gradient(to bottom, #555555 0%, #111111 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff111111', GradientType=0);
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}
a.grey {
  color: #aaaaaa;
}
a.blue {
  font-weight: bold;
}
@media (max-width: 400px) {
  a.grey,
  a.blue {
    font-size: 12px;
  }
}
#container {
	top: 20px;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	margin-top: 20px;
	padding-bottom: 25px;
	height: 379px;
}
@media (max-width: 480px) {
  #container {
    margin: 50px 5% 0;
    left: auto;
    width: 90%;
  }
}
#logo,
#loginbox {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media (max-width: 480px) {
  #logo,
  #loginbox {
    width: 100%;
  }
}
#logo {
  padding: 5px 0 10px 5px;
}
#logo img {
  width: 210px;
  margin: 0 auto;
  display: block;
  border: 8px solid #fff;
  border-color: purple;
}
#user {
  width: 100%;
  height: 100px;
  opacity: 0;
}

#user .text {
  top: 17px;
  left: 150px;
  font-size: 16px;
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
}
#user .user_name {
  display: block;
  font-size: 24px;
}
#loginbox {
  height: 200px;
  background: #ffffff;
  box-shadow: 0 0 4px #000000;
  border-radius: 7px;
  overflow: hidden !important;
  text-align: center;
  position: relative;
  margin: 20px;
}
#loginbox form {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#loginbox form#loginform {
  z-index: 200;
}

#loginbox p {
  margin-top: 25px;
  padding: 0 20px;
}
@media (max-width: 400px) {
  #loginbox p {
    font-size: 12px !important;
  }
}
#loginbox .form-actions {
  padding: 15px 20px 15px;
  border-radius: 0 0 30px 30px;
}

.input-group {
  padding: 0 20px 5px;
}
.footer-login {
  border-top: 1px solid #e6e6e6;
}
.footer-login .text {
  font-size: 16px;
  font-weight: bold;
  color: #555555;
  padding: 12px 20px;
}

hr {
  margin: 8px 0 -5px;
}

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}
