html,

body {
  background-color: #444444;
  margin: 0 auto;
}
a.grey {
  color: #aaaaaa;
}
a.blue {
  font-weight: bold;
}

@media (max-width: 767px) {
  a.grey,
  a.blue {
    font-size: 12px;
  }
}

#container {
  width: 55%;
  margin: 0 auto;
  margin-top: 3%;
}

#loginbox {  
  margin: 0 auto;
  margin-top: 6%;
  height: 90%;
  width: 90%;
  background: #ffffff;
  box-shadow: 0 0 4px #000000;
  border-radius: 7px;
  overflow: hidden !important;
  text-align: center;

}


#logo img {
  width: 60%;
  margin: 0 auto;
  display: block;
}

#user {
  width: 100%;
  height: 100px;
  opacity: 0;
}

#user .text {
  top: 17px;
  left: 150px;
  font-size: 16px;
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
}
#user .user_name {
  display: block;
  font-size: 24px;
}

#loginbox form {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  margin-top: 5%;
}

#loginbox p {
  margin-top: 5%;
}


#loginbox .form-actions {
  padding: 15px 20px 15px;
  border-radius: 0 0 30px 30px;
}

.input-group {
  padding: 0 20px 5px;
}

hr {
  margin: 8px 0 -5px;
}


.navbar-default .nav li a { /*items navvar*/
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}

.navbar-default .nav li a:hover,  /*items navvar al pasar mouse*/
.navbar-default .nav li a:focus {
    outline: 0;
    color: rgb(124,225,225);
}

@media (max-width: 767px) {

  #container{
    width: 80%;
    margin: 0 auto;

  }

  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 768px) and (max-width: 767px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}


.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: transparent; /*color fondo pagina (blanco)*/
}



.navbar-default .nav li a { /*items navvar*/
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}

.navbar-default .nav li a:hover,  /*items navvar al pasar mouse*/
.navbar-default .nav li a:focus {

    outline: 0;
    color: #95EFE3;
}

@media(min-width:768px){
    .navbar-default {
        padding: 30px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .5s;
        -moz-transition: padding .5s;
        transition: padding .5s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {  
        padding: 15px 0;
        background-color: #222;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

    #logomun{
    width: 60%;
}

}

@media(max-width: 767px){
  .navbar-default {
        padding: 30px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .5s;
        -moz-transition: padding .5s;
        transition: padding .5s;
    }

}
